ul{
    li{
        box-shadow: 2px 2px 0px black;
        transition: all .3s ease;
    }
}
@mixin flex {
    display: flex;
    justify-content: center;
}
ul.draft{
    li{
        @include flex()
    }
}