// course-card-style
main {
  margin-top: 50px !important;
  background-color: $bg-shade;
  padding: 64px 0px;
  border-radius: 0px 110px 200px 0px;
  .card-course {
    .row {
      .course-wrapper {
        .card {
          height: auto !important;
          @include text-animate(null, true);
          &:hover {
            @include shadow-hover();
            @include zoom-slider();
          }
          .card-body {
            .card-text {
              @include card-text-stable();
              font-size: $default-font-size-h6;
              color: $dark-color;
              @include text-animate(true);
            }
            .card-title {
              @include card-title-stable();
              font-size: $default-font-size-h4;
              color: $dark-color;
              @include text-animate(null, false);
            }
            .link-wrapper {
              a {
                background-color: $light-color;
                &:focus {
                  box-shadow: none !important;
                }
              }
              .course-time {
                background-color: #fff;
                span.timer {
                  color: $primary-color;
                  vertical-align: -7px;
                  background-color: unset;
                }
              }
            }
          }
        }
      }
    }
  }
}
// responsive course card
@media screen and (max-width: 576px) {
  .link-wrapper {
    .course-time {
      span.timer {
        vertical-align: -2px !important;
        font-size: 14px !important;
      }
      span {
        font-size: 14px !important;
      }
    }
    a {
      font-size: 12px !important;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .card {
    width: 100% !important;
    .link-wrapper {
      .course-time {
        span.timer {
          vertical-align: -2px !important;
          font-size: 14px !important;
        }
        span {
          font-size: 14px !important;
        }
      }
      a {
        font-size: 12px !important;
      }
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .card {
    .link-wrapper {
      .course-time {
        span.timer {
          vertical-align: -2px !important;
          font-size: 14px !important;
        }
        span {
          font-size: 14px !important;
        }
      }
      a {
        font-size: 12px !important;
      }
    }
  }
}
