// color-variables
$dark-color: #262626;
$light-color: #e6e3e392;
$nav-color: #bdbdbd65;
$gray-color: rgba(160, 156, 156, 0.676);
$nav-item-color: #969696;
$primary-color: rgb(54, 112, 228);
$bg-shade: rgb(44 108 237 / 6%);
$white-shade: #ffffffd1;
$white-color: #ffffff;
$yellow-color: #ffea00dd;

// font variables
$f-icon: FontAwesome;
$font-path: "font";
$font-family: Vazir-md;
$font-weight: 700;
$font-style: "normal";
$default-font-size-nav: 18px;
$default-font-size-p: 16px;
$default-font-size-h1: 24px;
$default-font-size-h4: 20px;
$default-font-size-h6: 14px;
$default-font-size-span: 16px;
// variables for mobile phone
$default-font-size-tablet-nav: 14px;
$default-font-size-tablet-p: 16px;
$default-font-size-tablet-h1: 35px;
$default-font-size-tablet-h4: 25px;
$default-font-size-tablet-h6: 19px;
$default-font-size-tablet-span: 16px;
// variables for mobile phone
$default-font-size-lg-mob-nav: 14px;
$default-font-size-lg-mob-p: 16px;
$default-font-size-lg-mob-h1: 25px;
$default-font-size-lg-mob-h4: 20px;
$default-font-size-lg-mob-h6: 17px;
$default-font-size-lg-mob-span: 16px;
// variables for sm mobile phone
$default-font-size-sm-mob-nav: 12px;
$default-font-size-sm-mob-p: 14px;
$default-font-size-sm-mob-h1: 20px;
$default-font-size-sm-mob-h4: 16px;
$default-font-size-sm-mob-h6: 15px;
$default-font-size-sm-mob-span: 14px;
// variables for x-sm mobile phone
$default-font-size-x-sm-mob-nav: 9px;
$default-font-size-x-sm-mob-p: 11px;
$default-font-size-x-sm-mob-h1: 15px;
$default-font-size-x-sm-mob-h4: 14px;
$default-font-size-x-sm-mob-h6: 13px;
$default-font-size-x-sm-mob-span: 11px;
// dividers
$m-y-divider: 200px;
$m-sm-y-divider: 20px;