// color-variables
$dark-color: #262626;
$light-color: #e6e3e392;
$nav-color: #bdbdbd65;
$gray-color: rgba(160, 156, 156, 0.676);
$nav-item-color: #969696;
$primary-color: rgb(54, 112, 228);
$bg-shade: rgb(44 108 237 / 6%);
// font variables
$font-path: "font";
$font-family: Vazir-md;
$font-weight: 700;
$font-style: "normal";
$default-font-size-nav: 18px;
$default-font-size-p: 16px;
$default-font-size-h1: 24px;
$default-font-size-h4: 20px;
$default-font-size-h6: 14px;
$default-font-size-span: 16px;
// variables for mobile phone
$default-font-size-tablet-nav: 14px;
$default-font-size-tablet-p: 16px;
$default-font-size-tablet-h1: 35px;
$default-font-size-tablet-h4: 25px;
$default-font-size-tablet-h6: 19px;
$default-font-size-tablet-span: 16px;
// variables for mobile phone
$default-font-size-lg-mob-nav: 14px;
$default-font-size-lg-mob-p: 16px;
$default-font-size-lg-mob-h1: 25px;
$default-font-size-lg-mob-h4: 20px;
$default-font-size-lg-mob-h6: 17px;
$default-font-size-lg-mob-span: 16px;
// variables for sm mobile phone
$default-font-size-sm-mob-nav: 12px;
$default-font-size-sm-mob-p: 14px;
$default-font-size-sm-mob-h1: 20px;
$default-font-size-sm-mob-h4: 16px;
$default-font-size-sm-mob-h6: 15px;
$default-font-size-sm-mob-span: 14px;
// variables for x-sm mobile phone
$default-font-size-x-sm-mob-nav: 9px;
$default-font-size-x-sm-mob-p: 11px;
$default-font-size-x-sm-mob-h1: 15px;
$default-font-size-x-sm-mob-h4: 14px;
$default-font-size-x-sm-mob-h6: 13px;
$default-font-size-x-sm-mob-span: 11px;
// dividers
$m-y-divider: 200px;
// minxins
@mixin zoom-slider {
  transform: scale(1.04);
}
@mixin shadow-hover {
  box-shadow: 0px 0px 0rem 5px rgba(0, 0, 0, 0.15) !important;
}
@mixin text-animate($slow-animate, $fast-animate: true) {
  @if ($fast-animate) {
    transition: all 0.4s ease;
  } @else {
    transition: all 0.8s ease;
  }
}
@mixin card-text-stable {
  text-overflow: ellipsis !important;
  height: 55px !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}
@mixin card-title-stable {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  height: 38px !important;
}
@mixin flex($flex: flex, $position-x: center, $position-y: center) {
  display: $flex;
  justify-content: $position-x;
  align-items: $position-y;
}
@mixin margin-padding($top, $right, $bottom, $left, $margin: true) {
  @if ($margin) {
    margin: $top $right $bottom $left;
  } @else {
    padding: $top $right $bottom $left;
  }
}
@font-face {
  font-family: $font-family;
  src: url(../../dist/assest/font/Vazir-Medium.woff) format("woff"),
    url(../../dist/assest/font/Vazir-Medium.eot) format("eot"),
    url(../font/Vazir-Medium.woff2) format("woff2");
  font-weight: $font-weight;
  font-style: $font-style;
}
* {
  font-family: $font-family;
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-family;
  // background-color: $light-color !important;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none !important;
  color: $dark-color;
}
// nav-bar-style
.container-fluid {
  background-color: $nav-color !important;
}
.custom-nav-bar {
  .row {
    @media screen and (max-width: 992px) {
      div.web-title {
        display: none !important;
      }
    }
    .custom-menu {
      nav {
        button {
          border: none;
          outline: none;
          &:focus {
            box-shadow: none;
            outline: none;
            border: none;
          }
        }
        div {
          ul.navbar-nav {
            @include flex(flex, space-between, center);

            li.nav-item {
              // add-animation-hover-style
              position: relative;
              &::after {
                content: "";
                width: 0px;
                height: 2px;
                background-color: $dark-color;
                position: absolute;
                bottom: 0px;
                left: 0;
                transition: width 0.5s ease;
              }
              &::before {
                content: "";
                width: 0px;
                height: 2px;
                background-color: $dark-color;
                position: absolute;
                bottom: 0px;
                right: 0;
                transition: width 0.5s ease;
              }
              &:hover::after {
                width: 50% !important;
                left: 50%;
              }
              &:hover::before {
                width: 50% !important;
                right: 50%;
              }
              a.nav-link {
                transition: all 0.4s ease;
                color: $nav-item-color;
                &:hover {
                  color: $dark-color;
                }
              }
            }
          }
        }
      }
    }
  }
}
li.social-media {
  span {
    a {
      i {
        transition: all 0.4s ease !important;
        color: $nav-item-color !important;
        &:hover {
          color: $dark-color !important;
        }
      }
    }
  }
}
// start-header-style
header {
  .container {
    .side-wrapper {
      .right-side-header {
        .sq-1 {
          position: absolute;
          top: 0px;
          right: 130px;
          width: 25px;
          height: 25px;
          border: 4px solid #c8c8c8;
          animation: sq-1 7s infinite reverse linear;
        }
        @keyframes sq-1 {
          100% {
            transform: rotate(-360deg);
          }
        }
        .sq-2 {
          position: absolute;
          top: 120px;
          left: 20px;
          width: 25px;
          height: 25px;
          border: 4px solid #888888;
          animation: sq-2 7s infinite reverse linear;
        }
        @keyframes sq-2 {
          100% {
            transform: rotate(360deg);
          }
        }
        .sq-3 {
          position: absolute;
          bottom: 0px;
          right: 120px;
          width: 20px;
          height: 20px;
          border: 4px solid #e11616;
          animation: sq-3 7s infinite reverse linear;
        }
        @keyframes sq-3 {
          100% {
            transform: rotate(-360deg);
          }
        }
        .gear-wrapper {
          i.gear-2 {
            position: absolute !important;
            top: 18px !important;
            right: 30px !important;
            font-size: 30px !important;
            animation: gear-2 14s infinite reverse linear;
          }
          @keyframes gear-2 {
            100% {
              transform: rotate(360deg);
            }
          }
          i.gear-1 {
            font-size: 18px !important;
            animation: gear-1 11s infinite linear;
          }
          @keyframes gear-1 {
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
    // add-media-query-for-res-font-size
    @media screen and (max-width: 1200px) {
      .side-wrapper {
        .left-side-header {
          .header-title {
            h1 {
              font-size: $default-font-size-tablet-h1 !important;
            }
            p {
              font-size: $default-font-size-tablet-p !important;
            }
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      .side-wrapper {
        .left-side-header {
          .header-title {
            h1 {
              font-size: $default-font-size-lg-mob-h1 !important;
            }
            p {
              font-size: $default-font-size-lg-mob-p !important;
            }
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      .side-wrapper {
        .left-side-header {
          .header-title {
            h1 {
              font-size: $default-font-size-lg-mob-h1 !important;
              margin-right: 0px !important;
              padding-left: 107px;
            }
            p {
              font-size: $default-font-size-lg-mob-p !important;
            }
          }
        }
      }
    }
    @media screen and (max-width: 576px) {
      .side-wrapper {
        .left-side-header {
          .header-title {
            h1 {
              font-size: $default-font-size-sm-mob-h1 !important;
              margin-right: 0px !important;
              padding-left: 107px;
            }
            p {
              font-size: $default-font-size-sm-mob-p !important;
            }
          }
        }
      }
    }

    .side-wrapper {
      @include flex(flex, normal, center);
    }
  }
}
// course-card-style
main {
  margin-top: 50px !important;
  background-color: $bg-shade;
  padding: 64px 0px;
  border-radius: 0px 110px 200px 0px;
  .card-course {
    .row {
      .course-wrapper {
        .card {
          height: auto !important;
          @include text-animate(null, true);
          &:hover {
            @include shadow-hover();
            @include zoom-slider();
          }
          .card-body {
            .card-text {
              @include card-text-stable();
              font-size: $default-font-size-h6;
              color: $dark-color;
              @include text-animate(true);
            }
            .card-title {
              @include card-title-stable();
              font-size: $default-font-size-h4;
              color: $dark-color;
              @include text-animate(null, false);
            }
            .link-wrapper {
              a {
                background-color: $light-color;
                &:focus {
                  box-shadow: none !important;
                }
              }
              .course-time {
                background-color: #fff;
                span.timer {
                  color: $primary-color;
                  vertical-align: -7px;
                  background-color: unset;
                }
              }
            }
          }
        }
      }
    }
  }
}
// responsive course card
@media screen and (max-width: 576px) {
  .link-wrapper {
    .course-time {
      span.timer {
        vertical-align: -2px !important;
        font-size: 14px !important;
      }
      span {
        font-size: 14px !important;
      }
    }
    a {
      font-size: 12px !important;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .card {
    width: 100% !important;
    .link-wrapper {
      .course-time {
        span.timer {
          vertical-align: -2px !important;
          font-size: 14px !important;
        }
        span {
          font-size: 14px !important;
        }
      }
      a {
        font-size: 12px !important;
      }
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .card {
    .link-wrapper {
      .course-time {
        span.timer {
          vertical-align: -2px !important;
          font-size: 14px !important;
        }
        span {
          font-size: 14px !important;
        }
      }
      a {
        font-size: 12px !important;
      }
    }
  }
}
// path-style
section.path {
  margin-top: 170px !important;
  div.container {
    .side-wrapper {
      margin-bottom: $m-y-divider !important;
     
    }
  }
  // add-media-query-for-res-font-size
  @media screen and (max-width: 1200px) {
    .side-wrapper {
      .left-side-header {
        .header-title {
          h1 {
            font-size: $default-font-size-tablet-h1 !important;
          }
          p {
            font-size: $default-font-size-tablet-p !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .side-wrapper {
      .left-side-header {
        .header-title {
          h1 {
            font-size: $default-font-size-lg-mob-h1 !important;
          }
          p {
            font-size: $default-font-size-lg-mob-p !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .side-wrapper {
      .left-side-header {
        .header-title {
          h1 {
            font-size: $default-font-size-lg-mob-h1 !important;
            margin-right: 0px !important;
            padding-left: 107px;
          }
          p {
            font-size: $default-font-size-lg-mob-p !important;
          }
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    .side-wrapper {
      .left-side-header {
        .header-title {
          h1 {
            font-size: $default-font-size-sm-mob-h1 !important;
            margin-right: 0px !important;
            padding-left: 107px;
          }
          p {
            font-size: $default-font-size-sm-mob-p !important;
          }
        }
      }
    }
  }
  @media screen and (max-width: 420px) {
    .side-wrapper {
      .left-side-header {
        .header-title {
          h1 {
            font-size: $default-font-size-x-sm-mob-h1 !important;
            margin-right: 0px !important;
            padding-left: 107px;
          }
          p {
            font-size: $default-font-size-x-sm-mob-p !important;
          }
        }
      }
    }
  }
}
